on:
  workflow_dispatch:
  push:
    branches: main

name: Quarto Publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: pre-release
          tinytex: true

      - name: Install librsvg
        run: |
          sudo apt update
          sudo apt install -y librsvg2-bin

      - name: Install node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
      
      - name: Install staticrypt globally
        run: npm install -g staticrypt

      - name: Install system libraries
        run: |
          sudo apt update
          sudo apt install -y \
            pkg-config \
            libcairo2-dev \
            libfreetype6-dev \
            libfontconfig1-dev \
            libudunits2-dev \
            libgdal-dev \
            libgeos-dev \
            libproj-dev \
            libsqlite3-dev

      - name: Install R
        uses: r-lib/actions/setup-r@v2
        with: 
          r-version: 'release'

      - name: Install sf
        run: |
          Rscript -e "install.packages('sf', repos='http://cran.rstudio.com/')"


      - name: Resrore R dependencies
        uses: r-lib/actions/setup-renv@v2
        with:
          cache-version: 1
          
      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
